.aboutus h3{
    font-size: 30px;
    color: #fca311;
    margin-bottom: 10px;
}
.aboutus {
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 100px 50px;
    background-color: #14213d;
    height: 300px;
    display: flex;
    align-items: center;
    text-overflow: clip;
    border-radius: 0px 300px 0px 0px;
}
.aboutus img{
    width: 25em;
    padding-right: 100px;
}
.aboutus-flex p{
    font-size: 20px;
}