
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
.bar{
    display: none;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
.products{
    min-height: 100vh;
    margin-top: 50px;
    text-align: center;
}
.products .products-grid{
    display:flex;
    margin-left:5vw;
    grid-template-columns: 1fr;
    row-gap: 50px;
}
.products-grid .products-grid-box{
    width: 30vw;
    border: solid 1px;
    box-shadow: 6px 10px 10px rgba(0,0,0,0.5);
    padding: 10px;
    border-color:#14213d;
    border-width:4px;
    border-radius: 100px;
}

.products-grid .products-grid-box:hover{
    border-radius: 100px;
    transition: background-color 1s;
    border: solid 4px #14213d;
    color: black;
    background-color: #fca311;

}
.products-grid .products-grid-box img{
    height: 300px;
    width:25vw;
    padding-top: 10px;
    padding-bottom: 10px;
}
.products-grid .products-grid-box h3{
    font-size: 30px;
}
/* media query for tab  */
@media all and (max-width:822px){
    .products-grid{
        margin-left: 20vw;
    }
    .navbar{
        width: 100vw;
    }
    .navbar-middle{
        display: flex;
        flex-direction: row;
    }
    .title{
        display:none;
    }
    
    .foot{
        display: flex;
        flex-direction: column;
        width:100vw;
    }
    .one,.two,.three{
        margin-left: 80px;
        margin-right: auto;
        margin-top: 30px;
    }
    .four{
        margin-top: 30px;
        margin-left:80px;
    }
    .one{
        margin-top: 0px;
    }
}

/* media query */

@media all and (max-width:960px){
    .foot{
        display: grid;
        grid-template-columns: auto auto;
    }
    .products-grid{
        margin-left: 25vw;
    }
}
@media all and (max-width:855px){
    .title{
        display: none;
    }
    .products-grid{
        margin-left: 20vw;
    }
  }

  @media all and (max-width:825px)
  {
    
   .foot{
    display: flex;
    width:100vw;
   }
   .last{
    width:100vw;
   }
  }
  @media all and (max-width:625px){
    
    .navbar-middle{
     display: none;
    }
    .bar{
        display: block;
        margin-right:25px;
        cursor:pointer;
    }
    .products-grid{
        margin-left:10vw;
    }
    .foot{
        width:90vw;
    }
    .last{
        width:100vw;
    }
  }
  @media all and (max-width:595px){
    
    .navbar-middle{
        display: none;
     }
     .bar{
         display:block;
         margin-right: 25px;
         cursor:pointer;
     }
     .foot,.last{
        width:100vw;
     }
     .products-grid{
        margin-left:5vw;
     }
  }

  @media all and (max-width:500px){
    .products-grid{
        margin-left: 3vw;
    }
    .products-grid-box{
        padding:20px 10px;
    }
  }
  @media all and (max-width:450px){
    
    .products-grid-box{
        margin-left: 2vw;
        width:90vw;
    }
    .products-grid img{
        width:60vw;
    }
    .one,.two,.three,.four{
        margin-left: 0vw;
    }
  }
  /* @media all and (max-width:415px){
    .pro
    .products-grid-box{
        padding:10px;
        }
  } */
  @media all and (max-width:375px){
    .one,.two,.three,.four{
        margin-left: -10px;
    }
    
  }