/* services */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
.bar{
    display: none;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
.services{
    text-align: center;
}
.services-grid{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
}
.services-grid-box{
    margin-top: 40px;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 6px 10px 10px rgba(0,0,0,0.5);
    transition: background-color 0.5s;
    padding: 30px;
    border-color:#14213d white  #14213d white;
    border-width:4px;
}
.services-grid-box p{
    margin-top: 10px;
    text-align: center;
}
.services-grid-box:hover{
    background-color: #fca311;
    color: white;
    border-color:#14213d;
}
.services-grid-box img{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
    
}
.services-grid-box h3{
    font-size: 25px;
}


/* manufacturing */
.manufacture {
    color:black;
    padding-left:20px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 30px 50px;
   
    height: 50vh;
    display: flex;
    align-items: center;
    text-overflow: clip;
    border-radius: 0px 300px 0px 0px;
}
.manufacture img{
    width: 30em;
}
.manufacture h3{
  color: #fca311;
  font-size: 30px;
  margin-bottom: 20px;
}


/* reviews */
.reviews{
    text-align: center;
    height: 600px;
}
.reviews-grid{
    margin-top: 30px;
    display: flex;
    column-gap: 50px;
    justify-content: space-evenly;
}
.reviews-grid-box{
    margin-top: 40px;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 6px 10px 10px rgba(0,0,0,0.5);
    transition: background-color 0.5s;
    padding: 30px;
    max-width: 400px;
    border-color:#14213d transparent  #14213d transparent;
    border-width:4px;

}
.reviews-grid-box:hover{
    background-color: #fca211;
    color: white;
    border-color:#14213d;
}
.reviews-grid-box img{
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
.pic-ctn {
    width: 100vw;
    height: 80vh;
  }
  .pic{
    height:80vh;
    width:70vw;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height:600px;
    margin-top: 10vh;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(20% - 100px);
    opacity: 0;
    animation: display 16s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 4s;
  }
  img:nth-child(3) {
    animation-delay: 8s;
  }
  img:nth-child(4) {
    animation-delay: 12s;
  }
  img:nth-child(5) {
    animation-delay: 16s;
  }
  
@media screen and (max-width:822px){
    .slideshow-container{
        width:100vw;
    }
    .navbar{
        width: 100vw;
    }
    .navbar-middle{
        display: flex;
        flex-direction: row;
    }
    .title{
        display:none;
    }
    .services-grid{
        margin-left: 0px;
        gap:20px;
    }
    .services .p{
        width:100vw;
    }
    .foot{
        display: flex;
        flex-direction: column;
    }
    .one,.two,.three{
        margin-left: 80px;
        margin-right: auto;
        margin-top: 30px;
    }
    .four{
        margin-top: 30px;
        margin-left:80px;
    }
    .one{
        margin-top: 0px;
    }
    .reviews{
        width:100vw;
    }
}

  /* media query for mobile*/
  @media screen and (max-width:482px){
    
    .navbar{
       width: 100vw;
        margin-right: 0px;
    }
    .navbar-middle{
        display: none;
    }
    .navbar-right{
        margin-right: 0px;
    }
    .title{
        display: none;
    }
    .navbar-middle{
        display: none;
    }
    .bar{
        display:block;
        margin-right: 25px;
        cursor:pointer;
    }
    .slideshow-container{
        margin-left: 0px;
        width: 100vw;
    }
    .services{
        width: 100vw;
        margin-left: 40px;
    }
    .services-grid{
        display: flex;
        flex-direction: column;
        
    }
    .manufacture{
        display: flex;
        flex-direction: column;
        height:500px;
        width: 100vw;
        border-top-right-radius:100px;
    }
    .manufacture img{
       width: 100vw;
    }
    .reviews{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 1020px;
    }
    .reviews-grid{
        display: flex;
        margin-left: 40px;
        flex-direction: column;
    }
    .foot{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 100vw;
        padding:30px;
    }
    .two,.three,.four{
    margin-left:20px;
    margin-top: 20px;
    }
    .one{
        margin-left:20px;
    }
    .one h3{
        flex-wrap: wrap;
    }
    .last{
        width: 100vw;
        text-align: center;
    }
  }


  @media all and (max-width:1205px){
    .slideshow-container{
        width:1200px;
    }
  }
  @media all and (max-width:1092px){
    .slideshow-container{
        width:1092px;
    }
  }
  @media all and (max-width:1011px){
    .slideshow-container{
        max-width:800px;
    }
  }
  @media all and (max-width:1140px){
    .slideshow-container{
        max-width:1000px;
    }
  }
  @media all and (max-width:990px){
    .slideshow-container{
        max-width:800px;
    }
  }
  @media all and (max-width:960px){
    .services-grid{
        display: grid;
        grid-template-columns: auto auto;
    }
    .foot{
        display: grid;
        grid-template-columns: auto auto;
    }
  }

  @media all and (max-width:855px){
    .title{
        display: none;
    }
  }
  @media all and (max-width:815px)
  {
    .navbar{
        width:100vw;
    }
    .foot{
        display: flex;
        width:100vw;
    }
    .services-grid{
        margin-left:10vw;
    }
    .slideshow-container{
        margin-left: 1vw;
        width:98vw;
    }
  }
  @media all and (max-width:752px){
    .foot{
        width:100vw;
    }
    .last{
        width:105vw;
    }
  }
  @media all and (max-width:820px)
  {
    
   .foot{
    display: flex;
   }
   .manufacture{
    display: flex;
    flex-direction: column;
    height:60vh;
    padding-top:60px;
   }
   .last{
    width:100vw;
   }
  }
  @media all and (max-width:625px){
    
    .navbar-middle{
     display: none;
    }
    .bar{
        display: block;
        margin-right:25px;
        cursor:pointer;
    }
    .manufacture{
        padding-top:15vw;
        height:65vh;
    }
  }
  @media all and (max-width:595px){
    .navbar-middle{
        display: none;
     }
     .bar{
         display:block;
         margin-right: 25px;
         cursor:pointer;
     }
     .reviews{
        height: 80vh;
     }
     .one{
        width:70vw;
     }
  }
  
  @media all and (max-width:485px){
    .services{
        margin-left: 2vw;
    }
    .services-grid{
        margin-left:6vw;
    }
    .reviews{
        height: 120vh;
    }
  }
  @media all and (max-width:430px){
    .services-grid,.reviews-grid{
        margin-left:0px;
        grid-template-columns: 1fr;
    }
    
  }
  @media all and (max-width:400px){
    .services-grid{
        grid-template-columns: auto; 
        margin-left:5vw;       
    }
    .manufacture{
        min-height:100vh;
    }
    .reviews{
        width:90vw;
        height:100vh;
    }

  }

  @media all and (max-width:321px){
    .services-grid{
        grid-template-columns: auto; 
        margin-left:5vw;       
    }
    .manufacture{
        height:100vh;
    }
    .reviews{
        height:100vh;
    }

  }
  